<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.bookservice.mapper.UserMapper">
    <resultMap id="UserResult" type="UserEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="roleId" column="role"/>
        <result property="createdAt" column="create_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="deletedBy" column="deleted_by"/>
    </resultMap>
    <sql id="selectUserInfo">
        select username ,email, password, gender, date_of_birth, phone_number, thumbnail, status,
            role, created_at ,updated_at , deleted_at , created_by, updated_by,deleted_by from users u
    </sql>
<!--  Find username of users  -->
    <select id="findUserName" resultType="org.example.commonservice.core.entity.UserEntity" parameterType="string">
        <include refid="selectUserInfo"/>
        where u.username = #{username}
    </select>

    <insert id="insert">
    </insert>
    <update id="update">
    </update>
    <delete id="delete">
    </delete>

    <select id="findAll" resultType="org.example.commonservice.core.entity.UserEntity">
    </select>
    <select id="findById" resultType="java.lang.Integer">
    </select>
</mapper>